ionic_front/www
ionic_front/.idea
ionic_front/.temp
ionic_front/.sass-cache
ionic_front/coverage
ionic_front/platforms
ionic_front/plugins
ionic_front/*.swp
ionic_front/*.swo
ionic_front/*.log
ionic_front/*.DS_Store
ionic_front/*.json
ionic_front/karma.conf.json
ionic_front/.gitignore
ionic_front/browserslist
ionic_front/e2e/*
ionic_front/src/*
!ionic_front/src/app

ionic_front/app/scripts/configuration.js

venv/*

__pycache__/*
*.pyc

*_initial.py


*.ini
*.sqlite3